version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: vanotificator-postgres
    environment:
      POSTGRES_USER: vanotificator
      POSTGRES_PASSWORD: vanotificator
      POSTGRES_DB: vanotificator_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
